section.slide
	margin-top: 2em
	ul.pictures
		height: 60vh
		overflow: hidden
		list-style: none
		margin: 0
		padding: 0
		position: relative
		border-radius: 0.5em
		li 
			img
				position: absolute
				top: -40%
				display: block
				width: 100%
	h1.slogan
		color: $color-claro
		text-align: center
		font-size: 4em
		line-height: 1.5em
		margin: 0
		text-shadow: 0 0 2rem $color-oscuro
		position: relative
		z-index: 2