extends _layout/default

block title
	title Duo - fisioterapia

block body
	.home-wrap

		include _includes/header

		include _includes/slide
		include _includes/actividades
		
		include _includes/footer