body
  font-family: $font-family
.home-wrap
  display: block
  margin: 0 auto
  max-width: 1024px
  min-height: 100vh
.home-sections
  section
    box-sizing: border-box

.enConstruccion
	h2
		text-align: center
		color: white
		text-shadow: 0 4px 4px #000
// Flex Classes


