include ../_mixin/actividad

section.actividades
	+actividad(
	"Crossfit",
	"crossfit"
	)
	+actividad(
	"Fisioterapia",
	"fisioterapia"
	)
	+actividad(
	"Nutrición",
	"nutricion"
	)
	+actividad(
	"Pilates",
	"pilates"
	)
	+actividad(
	"RPG",
	"rpg"
	)
	+actividad(
	"Tratamiento Natural",
	"tratamiento-natural"
	)
	+actividad(
	"Tratamiento PostQuirúrgico",
	"tratamiento-postquirurgico"
	)