include ../_mixin/articulo

section.articulos
	h2.categoria nombre de Categoria
	+articulo(
	'Pesas',
	'Oferta',
	'',
	'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
	'8'
	)
	+articulo(
	'mancuerna',
	'Oferta',
	'',
	'',
	'80'
	)
	+articulo(
	'pelota',
	'Oferta',
	'',
	'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
	'12'
	)
	+articulo(
	'Remera',
	'Oferta',
	'',
	'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
	'5'
	)
	+articulo(
	'Pantalon',
	'Oferta',
	'',
	'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium possimus velit quia quos tempore ex. Corrupti, modi, dolorum alias autem ratione magnam, nihil unde consequuntur labore accusantium cupiditate beatae rerum?',
	'4'
	)
	+articulo(
	'Tennis',
	'Oferta',
	'',
	'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
	'8'
	)
	+articulo(
	'Soga',
	'Oferta',
	'',
	'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
	'8'
	)