+servicio(
'Crossfit',
'crossfit',
''
)
+servicio(
'Nutrición',
'nutricion',
''
)
+servicio(
'Fisioterapia',
'fisioterapia',
'Clínica Duo cuneta con un equipo de profesionales altamente calificados en las diversas áreas de la fisioterapia, actuando tanto en la prevención (punto principal para calidad de vida y salud), rehabilitación física, mental y emocional, basados siempre en conocimientos científicos para optimizar las respuestas de los mismos.'
)
+servicio(
'Pilates',
'pilates',
'Es un método de acondicionamiento físico, que tiene como fin el equilibrio entre mente, cuerpo y espíritu, a través de un trabajo global de flexibilidad, fuerza y equilibrio corporal. Siendo utilizado no solamente como actividad física sino también como tratamiento y prevención de una gran variedad de patologías'
)
+servicio(
'Tratamiento Post-Quirúrgico',
'tratamiento-postquirurgico',
'Esencial para rehabilitación en estos casos, la aplicación de las técnicas correctas de fisioterapia irán acelerando la cicatrización y reorganización de los sistemas afectados, por ejemplo: post una cirugía de liposuccion, es necesario un drenaje linfático para liberar las toxinas y activar la circulación, liberar adherencia de las cicatrices y aliviar las tensiones en las fascias.'
)
+servicio(
'RPG',
'rpg',
'Reeducación Postural Global, es un método terapéutico especialmente para corrección postural de la columna cervical, torácica y lumbar,también en deportistas para reducción de la compresión de los discos inter-vertebrales, que generan dolores en los miembros superiores e inferiores.'
)
+servicio(
'Terapia Manual',
'terapia-manual',
'Nuestros especialistas combinan el arte de la manipulación para liberaciones articulares y movilizaciones de tejidos del cuerpo, utilizando las técnicas de quiropraxia, osteopatía, cráneo sacral, liberación de fasccias, drenaje linfatico, relajamiento, masoterapoa y muchas otras técnicas para prevención y rehabilitación musculo-esqueléticos, brindándoles mejores resultados.'
)
+servicio(
'Terapia Manual',
'terapia-manual',
'Nuestros especialistas combinan el arte de la manipulación para liberaciones articulares y movilizaciones de tejidos del cuerpo, utilizando las técnicas de quiropraxia, osteopatía, cráneo sacral, liberación de fasccias, drenaje linfatico, relajamiento, masoterapoa y muchas otras técnicas para prevención y rehabilitación musculo-esqueléticos, brindándoles mejores resultados.'
)