section.slide
	ul.pictures
		li.picture: img(src="assets/img/slide/01.jpg", alt="#")
		li.picture: img(src="assets/img/slide/02.jpg", alt="#")
		li.picture: img(src="assets/img/slide/03.jpg", alt="#")
		li.picture: img(src="assets/img/slide/04.jpg", alt="#")
		li.picture: img(src="assets/img/slide/05.jpg", alt="#")
		li.picture: img(src="assets/img/slide/06.jpg", alt="#")
		li.picture: img(src="assets/img/slide/07.jpg", alt="#")
		li.picture: img(src="assets/img/slide/08.jpg", alt="#")
		li.picture: img(src="assets/img/slide/09.jpg", alt="#")
		li.picture: img(src="assets/img/slide/10.jpg", alt="#")
	h1.slogan Tu salud en nuestras manos